.container00 {
    &.container01 {
      background-image: url(../../assets/images/home/01.jpg);
    }
  
    &.container02 {
      background-image: url(../../assets/images/home/02.jpg);
    }
  
    &.container03 {
      background-image: url(../../assets/images/home/03.gif);
    }
  
    &.container04 {
      background-image: url(../../assets/images/home/04.jpg);
    }
  }

  .titlePadding {
    padding-top: 200px;
  }
  
  .shortTitle {
    width: 550px;
  }

  .mediumTitle {
    width: 650px;
  }
  